body {
    background-image: url(https://wallpaperswide.com/download/old_music_score_background-wallpaper-1600x900.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(222,199,138);
    width: 50%;
    min-height: 50vh;
    border-radius: 20px;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.425);
    padding: 20px;
}

.artist,
.info,
.target {
    text-align: center;
    padding: 5px;
    margin: 5px;
    min-width: 250px;
}

.target {
    min-width: 150px;
}

.dates {
    text-decoration: none;
    display: none;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin: 5px;
}

.artist img {
    max-width: 200px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 80%;
    }
    .artist {
        width: 60%;
    }
    .artist img {
        max-width: 100px;
    }
}

@media only screen and (max-width: 350px) {
    .card .target {
        font-size: 0.5em;
    }
    .artist {
        width: 60%;
    }
    .artist img {
        max-width: 100px;
    }
}
