body {
    background-image: url(https://wallpaperswide.com/download/old_music_score_background-wallpaper-1600x900.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;

}

.card {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 200px;
    text-align: center;
    background-color: rgb(222,199,138);
    width: 50%;
    min-height: 50vh;
    border-radius: 20px;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.425);
}

.artist {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    min-height: 100px;
    min-width: 250px;
}

.info {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    min-height: 300px;
    min-width: 250px;

}

.target {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    min-height: 300px;
    min-width: 150px;
}

.dates {

    text-decoration: none;
    display: none;
}


ul {
    padding: 0;
}

ul li {

    list-style: none;
    margin: 5px;
}

ul li a {
    text-decoration: none;
    color: #181717;
    text-shadow: 0 0 20px rgb(7, 3, 255);
    transition: transform 0.6s text-shadow 0.6s;

}

ul li a:hover {
    text-shadow: 0 0 10px rgb(255, 0, 0);
    transform: scale(1.05);
}

.artist img {
    max-width: 200px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .artist{
        width: 60%;
    }
    .artist img {
        max-width: 100px;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 350px) {
    .card .target{
        font-size: 0,5em;
    }
    .artist{
        width: 60%;
    }
    .artist img {
        max-width: 100px;
        border-radius: 20px;
    }
}